img:hover{
cursor: pointer;
}
#main-container{
    min-height: 80vh;
    
}
#add {
    position: relative;
}

#add h2 {
    text-align: left;
}

#add i {
    position: absolute;
    right: 0;
}

#add i:hover{
    cursor: pointer;
}
#cart{
    min-height: 100vh;
}
#merch{
    min-height: 100vh;
}
#donate{
    min-height: 100vh;
}
#feedback{
    min-height: 100vh;
}

img.logo {
	aspect-ratio: auto 2530 / 1063;
	box-sizing: border-box;
	cursor: pointer;
	display: inline;

	max-height: 50px;

	max-width: 165px;
	overflow: clip;
	padding: 10px 0px;
	transform: matrix(1, 0, 0, 1, 0, 0);
	vertical-align: middle;
}

@media screen and (max-width: 900px){
    .input{
        max-width: 39.7vw;
    }
}